services:
    cups:
        image: anujdatar/cups
        container_name: cups
        restart: unless-stopped
        ports:
            - "631:631"
        environment:
            - CUPSADMIN=admin
            - CUPSPASSWORD=password
            - TZ="$TZ"
        volumes:
            - ./cups:/etc/cupsd
