services:
  # image used for vpn killswitch network
  gluetun:
    image: qmcgaw/gluetun:latest
    container_name: arr-suite-gluetun
    cap_add:
      - NET_ADMIN
    ports:
      - 8080:8080 # qbittorrent http web ui
    devices:
      - /dev/net/tun:/dev/net/tun
    environment:
      # see https://github.com/qdm12/gluetun-wiki for more details
      - VPN_TYPE=${VPN_TYPE:-wireguard}
      - VPN_SERVICE_PROVIDER=${VPN_SERVICE_PROVIDER?:VPN_SERVICE_PROVIDER must be set}
      - WIREGUARD_PRIVATE_KEY=${WIREGUARD_PRIVATE_KEY:?WIREGUARD_PRIVATE_KEY must be set}
        # optional
      - SERVER_COUNTRIES=${SERVER_COUNTRIES:-}
        # Port forwarding
      - VPN_PORT_FORWARDING=on
      - VPN_PORT_FORWARDING_UP_COMMAND=/bin/sh -c 'wget -O- --retry-connrefused --post-data "json={\"listen_port\":{{PORT}},\"current_network_interface\":\"{{VPN_INTERFACE}}\",\"random_port\":false,\"upnp\":false}" http://127.0.0.1:8080/api/v2/app/setPreferences 2>&1'
      - VPN_PORT_FORWARDING_DOWN_COMMAND=/bin/sh -c 'wget -O- --retry-connrefused --post-data "json={\"listen_port\":0,\"current_network_interface\":\"lo"}" http://127.0.0.1:8080/api/v2/app/setPreferences 2>&1'
    volumes:
      - ./config/gluetun:/gluetun
    restart: unless-stopped

  # image used to download stuff; run over gluetun network (vpn killswitch)
  qbittorrent:
    image: linuxserver/qbittorrent:5.0.2-libtorrentv1
    container_name: arr-suite-qbittorrent
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Chicago
      - WEBUI_PORT=8080
    volumes:
      - ./config/qbittorrent:/config # location of database and configs
      - ./downloads:/downloads # location of qbittorrent downloads
    depends_on:
      gluetun:
        condition: service_healthy
    network_mode: container:arr-suite-gluetun # use the gluetun container network (vpn killswitch)
    restart: unless-stopped
