x-warnings: # A block to avoid repeating the same warnings.
  - ${DOMAIN_NAME:?DOMAIN_NAME must be set}
  - ${MEDIA_ROOT:?MEDIA_ROOT must be set}
  - ${VPN_SERVICE_PROVIDER:?VPN_SERVICE_PROVIDER must be set}
  - ${WIREGUARD_PRIVATE_KEY:?WIREGUARD_PRIVATE_KEY must be set}
x-common-env: &common-env
  PGID: $GID
  PUID: $UID
  TZ: $TZ

services:
  # image used for vpn killswitch network
  gluetun:
    image: qmcgaw/gluetun:v3.41
    container_name: gluetun
    cap_add:
      - NET_ADMIN
    ports:
      - 8080:8080 # qbittorrent http web ui
    environment:
      <<: *common-env
      # see https://github.com/qdm12/gluetun-wiki for more details
      VPN_TYPE: ${VPN_TYPE:-wireguard}
      VPN_SERVICE_PROVIDER: $VPN_SERVICE_PROVIDER
      WIREGUARD_PRIVATE_KEY: $WIREGUARD_PRIVATE_KEY
      # optional
      SERVER_COUNTRIES: ${SERVER_COUNTRIES:-}
      # Port forwarding
      VPN_PORT_FORWARDING: on
      VPN_PORT_FORWARDING_UP_COMMAND: /bin/sh -c 'wget -O- --retry-connrefused --post-data "json={\"listen_port\":{{PORT}},\"current_network_interface\":\"{{VPN_INTERFACE}}\",\"random_port\":false,\"upnp\":false}" http://127.0.0.1:8080/api/v2/app/setPreferences 2>&1'
      VPN_PORT_FORWARDING_DOWN_COMMAND: /bin/sh -c 'wget -O- --retry-connrefused --post-data "json={\"listen_port\":0,\"current_network_interface\":\"lo"}" http://127.0.0.1:8080/api/v2/app/setPreferences 2>&1'
    sysctls:
      - net.ipv6.conf.all.disable_ipv6=1
      - net.ipv6.conf.default.disable_ipv6=1
    devices:
      - /dev/net/tun:/dev/net/tun
    volumes:
      - ./config/gluetun:/gluetun
    networks:
      - caddy
    labels:
      caddy: qbittorrent.$DOMAIN_NAME
      caddy.reverse_proxy: "{{upstreams 8080}}"
    restart: unless-stopped

  # image used to download stuff; run over gluetun network (vpn killswitch)
  qbittorrent:
    image: linuxserver/qbittorrent:5.0.2-libtorrentv1
    container_name: qbittorrent
    depends_on:
      gluetun:
        condition: service_healthy
    network_mode: container:gluetun # use the gluetun container network (vpn killswitch)
    environment:
      <<: *common-env
      DOCKER_MODS: ghcr.io/vuetorrent/vuetorrent-lsio-mod:latest
      WEBUI_PORT: 8080
    healthcheck:
      test: ["CMD", "curl", "-fs", "--show-error", "http://localhost:8080"]
      interval: 10s
      timeout: 5s
      retries: 3
    volumes:
      - $MEDIA_ROOT/downloads:/data/downloads # location of qbittorrent downloads
      - ./config/qbittorrent:/config # location of database and configs
    restart: unless-stopped

networks:
  caddy:
    external: true
