x-warnings: # A block to avoid repeating the same warnings.
  - ${DOMAIN_NAME:?DOMAIN_NAME must be set}
  - ${MEDIA_ROOT:?MEDIA_ROOT must be set}

services:
  jellyfin:
    image: jellyfin/jellyfin:10
    container_name: jellyfin
    user: $UID:$GID
    ports:
      - 8096:8096/tcp
      - 7359:7359/udp
    environment:
      TZ: $TZ
    volumes:
      - ./config:/config
      - ./cache:/cache
      - "$MEDIA_ROOT/media:/media:ro"
    networks:
      - caddy
    labels:
      caddy: jellyfin.$DOMAIN_NAME
      caddy.reverse_proxy: "{{upstreams 8096}}"
    restart: "unless-stopped"

networks:
  caddy:
    external: true
