services:
  jellyfin:
    image: jellyfin/jellyfin
    container_name: jellyfin
    user: $UID:$GID
    ports:
      - 8096:8096/tcp
      - 7359:7359/udp
    environment:
      TZ: $TZ
    volumes:
      - ./config:/config
      - ./cache:/cache
      - "${MEDIA_ROOT?:You must specify a media root in .env}:/media:ro"
    networks:
      - caddy
    labels:
      caddy: jellyfin.${DOMAIN_NAME?DOMAIN_NAME must be set}
      caddy.reverse_proxy: "{{upstreams 8096}}"
    restart: "unless-stopped"

networks:
  caddy:
    external: true
