services:
  jellyfin:
    image: jellyfin/jellyfin
    user: 1000:1000
    container_name: jellyfin
    ports:
      - 8096:8096/tcp
      - 7359:7359/udp
    volumes:
      - ./config:/config
      - ./cache:/cache
      - type: bind
        source: ${MEDIA_ROOT?:You must specify a media root in .env}
        target: /media
        read_only: true
    restart: "unless-stopped"
    networks:
      - caddy
    labels:
      caddy: jellyfin.${DOMAIN_NAME?DOMAIN_NAME must be set}
      caddy.reverse_proxy: "{{upstreams 8096}}"

networks:
  caddy:
    external: true
